USE [master]
GO
/****** Object:  Database [CH_BANDT]    Script Date: 5/3/2022 11:09:26 AM ******/
CREATE DATABASE [CH_BANDT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CH_BANDT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.LOCAL1\MSSQL\DATA\CH_BANDT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CH_BANDT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.LOCAL1\MSSQL\DATA\CH_BANDT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CH_BANDT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CH_BANDT]
GO
/****** Object:  User [XUONGLUONG]    Script Date: 5/3/2022 11:09:26 AM ******/
CREATE USER [XUONGLUONG] FOR LOGIN [XUONGLUONG] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 5/3/2022 11:09:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MA_CV] [int] IDENTITY(1,1) NOT NULL,
	[TEN_CV] [nvarchar](255) NULL,
	[TINHTRANG] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_CV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_HOADON]    Script Date: 5/3/2022 11:09:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOADON](
	[MA_CT] [int] IDENTITY(1,1) NOT NULL,
	[GIA] [money] NULL,
	[SOLUONG] [int] NULL,
	[MA_HD] [int] NOT NULL,
	[MA_SP] [int] NOT NULL,
	[TINHTRANG] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHMUCSP]    Script Date: 5/3/2022 11:09:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUCSP](
	[MA_DM] [int] IDENTITY(1,1) NOT NULL,
	[TEN_DN] [nvarchar](255) NOT NULL,
	[TINHTRANG] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_DM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 5/3/2022 11:09:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MA_HD] [int] IDENTITY(1,1) NOT NULL,
	[NGAYMUA] [date] NULL,
	[TONGTIEN] [float] NULL,
	[EMAIL] [nvarchar](255) NOT NULL,
	[TINHTRANG] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 5/3/2022 11:09:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[EMAIL] [nvarchar](255) NOT NULL,
	[TEN_NG] [nvarchar](255) NULL,
	[MA_CV] [int] NULL,
	[MATKHAU] [char](255) NULL,
	[SĐT] [char](20) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[NGAYSINH] [date] NULL,
	[TINHTRANG] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 5/3/2022 11:09:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MA_SP] [int] IDENTITY(1,1) NOT NULL,
	[TEN_SP] [nvarchar](255) NOT NULL,
	[GIABAN] [float] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[NGAY_THEMSP] [date] NULL,
	[HINHANH_SP] [nvarchar](255) NULL,
	[TINHTRANG] [bit] NULL,
	[MA_DM] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOADON] ([MA_HD])
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD FOREIGN KEY([MA_SP])
REFERENCES [dbo].[SANPHAM] ([MA_SP])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([EMAIL])
REFERENCES [dbo].[NGUOIDUNG] ([EMAIL])
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD FOREIGN KEY([MA_CV])
REFERENCES [dbo].[CHUCVU] ([MA_CV])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([MA_DM])
REFERENCES [dbo].[DANHMUCSP] ([MA_DM])
GO
USE [master]
GO

INSERT INTO CHUCVU VALUES (N'ADMIN',1)
INSERT INTO CHUCVU VALUES (N'USER',1)
SELECT * FROM CHUCVU

--------------------------NGƯỜI DÙNG-------------------------------------------------------------------------------------------------------------------
INSERT INTO NGUOIDUNG VALUES (N'luongvanxuong@gmail.com',N'Lương Văn Xưởng',1,N'123456',N'0938163410',N'HCM',N'2022-10-02',1)
INSERT INTO NGUOIDUNG VALUES (N'admin.com',N'Admin',1,N'123456',N'01234556',N'Nhà Bè',N'2022-12-11',1)
INSERT INTO NGUOIDUNG VALUES (N'phamvanminhnhat@gmail.com',N'Phạm Văn Minh Nhật',1,N'123456',N'0909111888',N'Đào Tống Nguyên',N'2022-12-25',1)
SELECT * FROM NGUOIDUNG

-------------------------SẢN PHẨM--------------------------------------------------------------------------------------------------------------------
INSERT INTO SANPHAM VALUES(N'IPHONE 11 PRO MAX',22000000,50,N'2021-10-20',N'https://cdn.tgdd.vn/Products/Images/42/200533/iphone-11-pro-max-green-600x600.jpg',1,1)
INSERT INTO SANPHAM VALUES(N'IPHONE 11',15000000,10,N'2021-10-20',N'https://cdn.hoanghamobile.com/i/preview/Uploads/2020/09/17/apple-iphone-11-64gb-6.1.jpg',1,1)
INSERT INTO SANPHAM VALUES(N'MacBook Air 2020 MGNE3SA',50000000,15,N'2021-10-20',N'https://hc.com.vn/i/ecommerce/media/GS.007150_FEATURE_74798.jpg',1,2)

SELECT * FROM SANPHAM

-----------------------------HÓA ĐƠN---------------------------------------------------------------------------------------------------------------
INSERT INTO HOADON VALUES(N'2022-01-13',22000000,N'xuongluong123@gmail.com',1)
INSERT INTO HOADON VALUES(N'2022-01-14',60000000,N'xuongluong123@gmail.com',1)
INSERT INTO HOADON VALUES(N'2021-12-21',100000000,N'tuitennhatdo@gmail.com',1)
SELECT * FROM HOADON

------------------------------CHI TIẾT HÓA ĐƠN-----------------------------------------------------------------------------------------------------
INSERT INTO CT_HOADON VALUES(22000,1,1,1,1)
INSERT INTO CT_HOADON VALUES(2000,2,3,2,1)
INSERT INTO CT_HOADON VALUES(22000,1,1,2,1)

SELECT * FROM CT_HOADON
---------------------------------DANH MUC-------------------------
INSERT INTO DANHMUCSP VALUES(1,N'IPHONE',1)
INSERT INTO DANHMUCSP VALUES(2,N'MACBOOK',1)
INSERT INTO DANHMUCSP VALUES(3,N'TABLET',1)
SELECT * FROM DANHMUCSP